<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  <title>Python Scrapper - Result</title>
</head>
<body>
  <main class='container'>
    <h1>Job results for "{{keyword}}"</h1>
    <a target="_blank" href="/export?keyword={{keyword}}">Export to File</a>
    <figure>
      <table role='grid'>
        <thead>
          <tr>
            <th>Position</th>
            <th>Company</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          {% for job in jobs %}
          <tr>
            <td><strong>{{job.position}}</strong></td>
            <td>{{job.company}}</td>
            <td>{{job.location}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </figure>
  </main>
</body>
</html>